[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = "*"
django-htmx = "*"
mysqlclient = "*"
shortuuid = "*"
pillow = "*"
channels = "*"

[dev-packages]

[requires]
python_version = "3.13"
