{% extends 'layouts/blank.html' %}

{% block content %}
<h1>Popular Cubes</h1>

{% for level, cubes in grouped_cubes.items %}
    <h2>{{ level }}</h2>
    <div class="cube-section">
        {% if cubes %}
            {% for cube in cubes %}
                <div class="cube-card">
                    <img src="{{ cube.image_url }}" alt="Cube Image" class="cube-image">
                    <h3>{{ cube.name }}</h3>
                    <p>Created by: {{ cube.creator.username }}</p>
                    <p>Drafted {{ cube.draft_count }} times</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No cubes available for this level.</p>
        {% endif %}
    </div>
{% endfor %}
{% include 'drafting/components/update_card_database.html' %}
{% include 'drafting/components/cube_upload.html' %}
{% include 'drafting/components/draft_lobby_form.html' %}
{% endblock %}


